* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
    background: #000;
}

header,
nav,
main,
aside,
footer {
    background:#111111;
    display: flex;
    margin: 3px;


}

header {
    height: 100px;
    flex: 1 1 100vw;
    background:white;


}

header #logo {
    display: flex;
    flex: 0 1 500px;
    background: whitesmoke;
    justify-content: center;
    align-items: center;

}

#openMenu,
#closeMenu {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
    transition: 5s 1s;



}

/*barra de pesquisa*/
.search-box {
    position: relative;
    left: 15%;
    top: 65%;
    transform: translate(-50%, -50%);
    background: #e2e9ec;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
    background: white;


}

nav a {
    margin: 15px;
    font-size: 15px;
}

main {
    height: calc(100vh - 330px);
    flex: 20 1 500px;
}

aside {
    flex: 1 1 200px;
}

footer {
    height: 100px;
    flex: 1 1 200vw;

}

main {
    height: 100vh;
    flex: 1 1 300px;
    /*display:flex;
   /*flex-direction: column;*/
}

/*  Inicio Carrocel*/
/* mudar o top*/
.content1 {
    height: 635px;
    width: 650px;
    border-radius: 0px;
    overflow: hidden;
    position: absolute;
    top: 70%;
    left: 26%;

    transform: translate(-50%, -50%);

}


.navegation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background-color: #fff;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;

}


.slide {
    width: 20%;
    transition: .6s;
    
}

.slide img {
    width: 100%;
    height: 100%;
    
}

#slide1:checked~.s1 {
    margin-left: 0;

}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

#slide5:checked~.s1 {
    margin-left: -80%;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: #674f0a;
    color: white;
    font-weight: bold;
}

form[type="submit"]:hover {
    cursor: pointer;
}


@media screen and (max-width: 968px) {
    .content1 {
        height: 320px;
        width: 800px;
        top: 60%;
        left: 50%;
    }
}

@media screen and (max-width: 668px) {
    .content1 {
        height: 280px;
        width: 600px;
        top: 60%;
        left: 50%;
    }

    .navegation {
        bottom: 6px;
        left: 50%;
    }

    .bar {
        width: 40px;
        height: 11px;
    }
}

@media screen and (max-width: 568px) {
    .content1 {
        height: 200px;
        width: 400px;
        top: 60%;
        left: 50%;
    }

    .navegation {
        bottom: 6px;
        left: 50%;
    }

    .bar {
        width: 40px;
        height: 11px;
    }
}

/* Final Carrocel */





aside {
    flex: 1 1 200px;
}

footer {
    height: 100px;
    flex: 0 1 100vw;

}

.bolo {
    width: 300px;
    height: 125px;
}

a {
    text-decoration: none;
    color: inherit;
    border-radius: 20px;
    padding: 10px;
}

#menu a:hover {
    background-color: rosybrown;
}

@media screen and (max-width:717px) {

    #openMenu,
    #closeMenu {
        display: block;

    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);
        justify-content: center;
        align-items: center;
        margin: 0px;
        display: none;
        opacity: 0;
        transition: 0.3s;

    }

    nav a {
        margin: 3%;

    }

    aside {
        height: 100px;
    }

    main {
        height: calc(100vh);
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: #aa6d04;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(172, 50, 50);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #e1b054;
}

/* INICIO RODAPÉ */
main {
    height: 80vh;
}

footer {
    width: 100%;
    color: white;
}

.footer-link {
    text-decoration: none;
}


#footer_content {
    background-color: rgb(12, 12, 13);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2, 5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all .4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer_list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer_list .footer-link {
    color: var(--color-neutral-30);
    transition: all .4s;
}

.footer_list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: rgb(232, 227, 227);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: rgb(187, 14, 14);
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all .4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 0.8rem;
    font-weight: 100;
}
/* login */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  .lodg{
    background-color: #fb350d;
    color:white;
    padding: 14px 20px;
    margin: 15px 30px ;
    border: none;
    cursor: pointer;
    width: 350px;
    height: 70px;
    
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 250px;
    height: 200px;
    border-radius: 30px;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 7px;
    background-color: #000;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }


@media screen and (max-width: 500px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
@media screen and (max-width:717px) {

    #openMenu,
    #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 10px;
        top: 15px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: rgb(255, 255, 255, 0.8);
        justify-content: center;
        align-items: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
        order: 1;
    }

    nav a {
        margin: 3%;
    }

    aside {
        height: 100px;
        order: 3;
    }

    header {
        order: 0;
    }

    main {
        height: calc(100vh - 330px);
        order: 2;
    }
}




/* FINAL RODAPÉ */